In [1]:
import censusdata

In [2]:
df = censusdata.download('acs5', 2015, censusdata.censusgeo([('state', '23'), ('county', '005'), ('block group', '*')]), [('C02003_001E')]).head()

In [3]:
index = df.index
index

Index([Block Group 1, Census Tract 1, Cumberland County, Maine: Summary level: 150, state:23> county:005> tract:000100> block group:1,
       Block Group 2, Census Tract 1, Cumberland County, Maine: Summary level: 150, state:23> county:005> tract:000100> block group:2,
       Block Group 3, Census Tract 1, Cumberland County, Maine: Summary level: 150, state:23> county:005> tract:000100> block group:3,
       Block Group 1, Census Tract 2, Cumberland County, Maine: Summary level: 150, state:23> county:005> tract:000200> block group:1,
       Block Group 2, Census Tract 2, Cumberland County, Maine: Summary level: 150, state:23> county:005> tract:000200> block group:2],
      dtype='object')

In [4]:
obj = index[0]
obj

censusgeo((('state', '23'), ('county', '005'), ('tract', '000100'), ('block group', '1')), 'Block Group 1, Census Tract 1, Cumberland County, Maine')

In [5]:
type(obj)

censusdata.censusgeo.censusgeo

In [6]:
dir(obj)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'geo',
 'hierarchy',
 'name',
 'params',
 'request',
 'sumlevel',
 'sumleveldict']

In [7]:
params = obj.params()
params

(('state', '23'), ('county', '005'), ('tract', '000100'), ('block group', '1'))

In [8]:
type(params)

tuple

In [9]:
dict(params)['block group']

'1'

In [10]:
df['block group'] = [dict(obj.params())['block group'] for obj in df.index]

In [11]:
df

                                                    C02003_001E block group
Block Group 1, Census Tract 1, Cumberland Count...          508           1
Block Group 2, Census Tract 1, Cumberland Count...          890           2
Block Group 3, Census Tract 1, Cumberland Count...          848           3
Block Group 1, Census Tract 2, Cumberland Count...          891           1
Block Group 2, Census Tract 2, Cumberland Count...          473           2

Let's make a MultiIndex with the fields from params as levels.

In [12]:
import numpy as np

names, _ = zip(*params)
names

('state', 'county', 'tract', 'block group')

In [13]:
list(zip(*params))[1]

('23', '005', '000100', '1')

In [14]:
t = [list(zip(*obj.params()))[1] for obj in df.index]
t

[('23', '005', '000100', '1'),
 ('23', '005', '000100', '2'),
 ('23', '005', '000100', '3'),
 ('23', '005', '000200', '1'),
 ('23', '005', '000200', '2')]

In [15]:
import pandas as pd

df2 = df.copy()
df2.index = pd.MultiIndex.from_tuples(t, names=names)
df2

                                 C02003_001E block group
state county tract  block group
23    005    000100 1                    508           1
                    2                    890           2
                    3                    848           3
             000200 1                    891           1
                    2                    473           2

Or the same thing with arrays rather than tuples.

In [16]:
names, _ = np.transpose(params)

In [17]:
t = [np.transpose(obj.params())[1] for obj in df.index]
t

[array(['23', '005', '000100', '1'], dtype='<U11'),
 array(['23', '005', '000100', '2'], dtype='<U11'),
 array(['23', '005', '000100', '3'], dtype='<U11'),
 array(['23', '005', '000200', '1'], dtype='<U11'),
 array(['23', '005', '000200', '2'], dtype='<U11')]

In [18]:
import pandas as pd

df3 = df.copy()
df3.index = pd.MultiIndex.from_arrays(np.transpose(t), names=names)
df3

                                 C02003_001E block group
state county tract  block group
23    005    000100 1                    508           1
                    2                    890           2
                    3                    848           3
             000200 1                    891           1
                    2                    473           2